@{
    ViewBag.Title = "Teams";
}


<div align="center">
    <a href="/">Home</a>|
    <a href="/Home/Services">Services</a>|
    <a href="/Home/Teams">Teams</a>|
    <a href="/Home/Contact">Contact</a>

</div>

<h2 id="title">@ViewBag.Title.</h2>


<table>
    @foreach (var item in Model)
    {

        <tr>
            <td> <h6>@item.Name</h6></td>
        </tr>

        <tr>
            <td> <u>@item.Role</u></td>
        </tr>

        <tr>
            <td> @item.Bio</td>
        </tr>


    }
</table>
